.sideways{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 56px;
  width: 72px;
  background-color: white;
  z-index: 1;
}
.sidebar-div{

  height: 76px;
  
}
.sidebar-div:hover{
  background-color: rgb(237, 234, 234);
}