 
  .thumbnail{
    width: 100%;
  
  }
  .thumbnail-row{
    position: relative;
    margin-bottom: 8px;
  }
  .video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 8px;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 2px;

  }

  

  
  .video-author{
    font-size: 12px;
    color: gray;
    margin-bottom: 6px;
  }
  .video-stats{
    font-size: 12px;
    color: gray;
    margin-top: 4px;
    margin-bottom: 0px;
  }



  .video-title{
    margin-bottom: 10px;
    font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  }

  .video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr ;
}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 35px;

  
}
 @media (max-width : 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
 }

@media(min-width:751px) and (max-width:999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
    
  }
 }


 @media(min-width: 1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
 }
 

 .channel-icon{
  width: 38px;
  vertical-align: top;
 }
  .video-info{
  width: 245px;
  }
  .channel-picture{
  width: 80%;
  border-radius: 100px;
  margin-top: 0px;
  }
  
  